.container {
  padding: 1rem;
}

.title {
  font-size: 2.2rem;
  font-family: var(--main-font);
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #82c0cc4d;
  border: 1px solid #16697A;
  border-radius: 10px;
  min-width: 15rem;

  p {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
